:root{
    --primary-color: #251945;
    --secondary-color: #6E50A6;
    --accent-color: #E7C8A3;
    --background-color: #6F5B90;
    --text-color: #D5B1FB;
}

@font-face {
  font-family: 'TabFont';  
  src: url('fonts/ScopeOne-Regular.ttf') format('truetype');  
  font-weight: normal;  
  font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'TabFont', sans-serif;
    color: var(--text-color);
    overflow-x: hidden;
    line-height: 1.6;
    background-color: var(--background-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

a.nav-link{
    color: var(--text-color) !important;
}

/* NAV SECTION */ 
.navbar {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: all 0.3s ease;
    font-size: 1.4rem;
}
 
.navbar.sticky {
    position: fixed;
    top: 0;
    left: 0;
    background: var(--primary-color);
}

.navbar-nav .nav-item{
  padding-left: .5rem;
  padding-right: .50rem;
}

.logo{
    width: auto;
    height: 10rem; 
    transform: translateY(-30%);
    margin-left: 2rem;
    transition: height 0.3s ease, transform 0.3s ease;
}

.navbar.sticky .logo {
    height: 3rem;
    transform: none;
    margin-left: 2rem;  
}

.navbar.sticky .nav-item{
  font-size: 17px;
}


/* HERO SECTION */ 
section#home.hero-section{
  margin-top: 10rem;
  background-color: var(--primary-color);
} 

.hero {
    position: relative;
    width: 100%;
    height: 100vh;  
    overflow: hidden; 
  background-image: linear-gradient(to bottom, #251945 17%, #5C3EAB 100%);
}

.hero img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
 
.hero .bg-image {
    z-index: 1;  
    padding: 2rem;
    object-position: 50% 0%;
    
    height: fit-content; 
    object-fit: cover;
}

.hero .circle {
    z-index: 2;
}
 
.hero .overlay {
    z-index: 3;
    top: 10rem;  
}
 
.hero .keqing {
    z-index: 4;
}


.hero::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 5;
    pointer-events: none;

    background: linear-gradient(
        to top,
        #251945 0%,
        rgba(37, 25, 69, 0) 60%
    );
}

@media (max-width: 820px) {

    .hero {
        height: 50vh;         
        margin-top: 0;
    }

    .hero img {
        height: 100%;
        width: 100%;
    }

 
    .hero .bg-image { 
        height: fit-content; 
    }
 
    .hero .circle {
        width: 120%; 
        top: 10%;
        left: -10%;
    }
 
    .hero .overlay {
        top: 10rem;
        height: 35%; 
        width: 100%;
        height: 100%;
    }
 
    .hero .keqing { 
        top: 0;
        left: 70%;
        transform: translateX(-70%);
    } 

    .hero::after {
        background: linear-gradient(
            to top,
            #251945 0%,
            rgba(37, 25, 69, 0) 70%
        );
    }
}
 
@media (max-width: 768px) {

    .hero {
        height: 50vh;         
        margin-top: 0;
    }

    .hero img {
        height: 100%;
        width: 100%;
    }

 
    .hero .bg-image { 
        height: fit-content; 
    }
 
    .hero .circle {
        width: 120%; 
        top: 10%;
        left: -10%;
    }
 
    .hero .overlay {
        top: 10rem;
        height: 35%; 
        width: 100%;
        height: 100%;
    }
 
    .hero .keqing { 
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    } 
    .hero::after {
        background: linear-gradient(
            to top,
            #251945 0%,
            rgba(37, 25, 69, 0) 70%
        );
    }
}

@media (max-width: 344px) {

    .hero {
        height: 30vh;         
        margin-top: 0;
    }

    .hero img {
        height: 100%;
        width: 100%;
    }

 
    .hero .bg-image { 
        height: fit-content; 
    }
 
    .hero .circle {
        width: 120%; 
        top: 10%;
        left: -10%;
    }
 
    .hero .overlay {
        top: 5rem;
        height: 35%; 
        width: 100%;
        height: 100%;
    }
 
    .hero .keqing { 
        top: 0;
        left: 70%;
        transform: translateX(-70%);
    }
 
    .hero::after {
        background: linear-gradient(
            to top,
            #251945 0%,
            rgba(37, 25, 69, 0) 70%
        );
    }
}

/* ABOUT SECTION */

.about {
    position: relative;
    width: 100%;
    height: 100vh;  
    overflow: hidden;  
}

.about img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.about .bg-image {
    z-index: 2;  
    padding: 2rem;
    object-position: 0% 50%;
    height: fit-content; 
    object-fit: cover; 
    top: auto;
    bottom: 0;
}

.about .overlay { 
    left: 50%;
    width: 105vw;        
    transform: translateX(-50%);
    z-index: 1;
     
}