:root{
  --primary-color: #251945;
  --secondary-color: #6E50A6;
  --accent-color: #E7C8A3;
  --background-color: #6F5B90;
  --text-color: #D5B1FB;
}

@font-face {
  font-family: 'TabFont';  
  src: url('fonts/ScopeOne-Regular.ttf') format('truetype');  
  font-weight: normal;  
  font-style: normal;
}

@font-face {
  font-family: 'HeaderFont';  
  src: url('fonts/OrelegaOne-Regular.ttf') format('truetype');  
  font-weight: normal;  
  font-style: normal;
}

@font-face {
  font-family: 'ParagraphFont';  
  src: url('fonts/AlbertSans-VariableFont_wght.ttf') format('truetype');  
  font-weight: normal;  
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'TabFont', sans-serif;
  color: var(--text-color);
  overflow-x: hidden;
  line-height: 1.6;
  background-color: var(--background-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}



/* NAV SECTION */ 
.navbar {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: all 0.3s ease;
  font-size: 1.4rem;
}
 
.navbar.sticky {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--primary-color);
}

.navbar-nav .nav-item{
  padding-left: .5rem;
  padding-right: .50rem;
}

.logo{
  width: auto;
  height: 10rem; 
  transform: translateY(-30%);
  margin-left: 2rem;
  transition: height 0.3s ease, transform 0.3s ease;
}

.navbar.sticky .logo {
  height: 3rem;
  transform: none;
  margin-left: 2rem;  
}

.navbar.sticky .nav-item{
  font-size: 17px;
}

a.nav-link{
  color: var(--text-color) !important;
}

.navbar .container .navbar-toggler {
  border-color: white !important;

}

.navbar .container .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.section {
  width: 100vw;
  height: 100vh;
}

/* HERO SECTION */ 
section#home.hero-section{
  margin-top: 10rem;
  background-color: var(--primary-color);
} 

.hero {
  position: relative;
  width: 100%;
  height: 100vh;  
  overflow: hidden; 
  background-image: linear-gradient(to bottom, #251945 17%, #5C3EAB 100%);
}

.hero img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 
.hero .bg-image {
  z-index: 1;  
  padding: 2rem;
  object-position: 50% 0%;
  
  height: fit-content; 
  object-fit: cover;
}

.hero .circle {
  z-index: 2;
}
 
.hero .overlay {
  z-index: 3;
  top: 10rem;  
}
 
.hero .keqing {
  z-index: 4;
}


.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 5;
  pointer-events: none;

  background: linear-gradient(
    to top,
    #251945 0%,
    rgba(37, 25, 69, 0) 60%
  );
}

/* ABOUT SECTION */

.about { 
  position: relative;
  width: 100vw;
  min-height: 100vh;  
  overflow: hidden; 
  padding: 10px; 
}

.about img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.about .bg-image {
  z-index: 2;  
  padding: 2rem;
  object-position: 0% 50%;
  height: fit-content; 
  object-fit: cover; 
  top: auto;
  bottom: 0;
}

.about .overlay { 
  left: 50%;
  width: 105vw;    
  transform: translateX(-50%);
  z-index: 1;
   
}

.about .container{
  position: relative;
  z-index: 5;

  margin-top: 5rem;
  margin-left: auto; 
  margin-right: auto; 

  padding-left: 3rem; 
  padding-right: 3rem;
}

.about .container .row-1{ 
  height: auto;
  width: 100%;
  background-color: var(--text-color);
  color: var(--primary-color);
  padding: .5rem;
  border: solid #A490D7 5px;
  

}
 
.about .container p{
  font-size: 0.9rem;
  font-family: 'ParagraphFont', sans-serif;  
}

.about .container h2{
  font-size: 3rem;   
  font-family: 'HeaderFont', sans-serif;

}

.about .container .row-1 h2{
  font-size: 3rem; 
  transform: translateY(-400%);
  height: 10px;
  font-family: 'HeaderFont', sans-serif;

}

.about .container h2{
  font-size: 3rem;   
  font-family: 'HeaderFont', sans-serif;

}
 
.about div .row-title {
  background-color: var(--primary-color);
  width: 100%;
  border-radius: 20px 20px 5px 5px; 
  display: flex;
  align-items: center;  
  padding: .5rem;
}

.about div .row-title h5 {
  display: flex; 
  margin-left: .5rem;
  font-size: 1rem;
}

.about div .row-paragraph {
  
  background-image: linear-gradient(to top, #5d3eab00 17%, #725B99 100%); 
  color: var(--text-color);
  align-items: center; 
  padding: .5rem; 
  margin-left: .9px;
}

.about div.row-paragraph h6 {
  font-size: 0.9rem;
  margin-bottom: .5rem;
} 

.about div.row-paragraph p{
  font-size: 0.7rem;
}



.about .row2 .col-skills { 
  color: var(--primary-color); 
  background-color: #D5B1FB;
  border: solid 5px #251944;
  margin-top: 1rem;
}

/* EXPERIENCE */

.experience .timeline {
  position: relative;
  padding: 1rem 0;
}

.experience .timeline::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: .5rem;
  background: var(--primary-color);
  transform: translateX(-50%);
}

.experience .timeline-item {
  position: relative;
  margin-bottom: 1rem;
  width: 50%;
  padding: .5rem;
}

.experience .timeline-item:nth-child(odd){
  left: 0;
  text-align: right;
  padding-right: 2rem;
}

.experience .timeline-item:nth-child(even){
  left: 50%;
  padding-left: 2rem;
}

.experience .timeline-item::before {
  content: '';
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  background: var(--primary-color);
  border: 1rem solid var(--white);
  border-radius: 50%;
  top: 0;
}
.experience .timeline-item:nth-child(odd)::before {
  right: -.8rem;
}
        
.experience .timeline-item:nth-child(even)::before {
  left: -.8rem;
}

.experience .timeline-content {
  background: var(--accent-color);
  padding: 1rem;
  border-radius: 1rem;
  color: var(--primary-color);
  box-shadow: 0 .1rem .8rem #25194486;
  transition: all 0.3s ease;
}

.experience .timeline-content:hover {  
  transform: translateY(-1rem);
}

/* MEDIA */

@media (max-width: 1199px) {

  .hero {
    height: 100vh;     
    margin-top: 0;
  }

  .hero img {
    height: 100%;
    width: 100%;
  }

 
  .hero .bg-image { 
    height: fit-content; 
  }
 
  .hero .circle {
    width: 100%; 
    top: 10%;
    left: 0%;
  }
 
  .hero .overlay {
    top: 5rem;
    height: 35%; 
    width: 100%;
    height: 100%;
  }
 
  .hero .keqing { 
    top: 0;
    left: 70%;
    transform: translateX(-68%);
  } 

  .hero::after {
    background: linear-gradient(
      to top,
      #251945 0%,
      rgba(37, 25, 69, 0) 70%
    );
  }

.navbar {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: all 0.3s ease;
  font-size: 1rem; 
}

.logo{
  width: auto;
  height: 8rem; 
  transform: translateY(-30%);
  margin-left: 2rem;
  transition: height 0.3s ease, transform 0.3s ease;
}


}

@media (max-width: 820px) {

  .hero {
    height: 50vh;     
    margin-top: 0;
  }

  .hero img {
    height: 100%;
    width: 100%;
  }

 
  .hero .bg-image { 
    height: fit-content; 
  }
 
  .hero .circle {
    width: 120%; 
    top: 10%;
    left: -10%;
  }
 
  .hero .overlay {
    top: 10rem;
    height: 35%; 
    width: 100%;
    height: 100%;
  }
 
  .hero .keqing { 
    top: 0;
    left: 70%;
    transform: translateX(-70%);
  } 

  .hero::after {
    background: linear-gradient(
      to top,
      #251945 0%,
      rgba(37, 25, 69, 0) 70%
    );
  }
}
 
@media (max-width: 768px) {

  .hero {
    height: 50vh;     
    margin-top: 0;
  }

  .hero img {
    height: 100%;
    width: 100%;
  }

 
  .hero .bg-image { 
    height: fit-content; 
  }
 
  .hero .circle {
    width: 120%; 
    top: 10%;
    left: -10%;
  }
 
  .hero .overlay {
    top: 10rem;
    height: 35%; 
    width: 100%;
    height: 100%;
  }
 
  .hero .keqing { 
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  } 
  .hero::after {
    background: linear-gradient(
      to top,
      #251945 0%,
      rgba(37, 25, 69, 0) 70%
    );
  }
}

@media (max-width: 344px) {

  .hero {
    height: 30vh;     
    margin-top: 0;
  }

  .hero img {
    height: 100%;
    width: 100%;
  }

 
  .hero .bg-image { 
    height: fit-content; 
  }
 
  .hero .circle {
    width: 120%; 
    top: 10%;
    left: -10%;
  }
 
  .hero .overlay {
    top: 5rem;
    height: 35%; 
    width: 100%;
    height: 100%;
  }
 
  .hero .keqing { 
    top: 0;
    left: 70%;
    transform: translateX(-70%);
  }
 
  .hero::after {
    background: linear-gradient(
      to top,
      #251945 0%,
      rgba(37, 25, 69, 0) 70%
    );
  }
}