:root{
    --primary-color: #251945;
    --secondary-color: #6E50A6;
    --accent-color: #E7C8A3;
    --background-color: #6F5B90;
    --text-color: #D5B1FB;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: var(--text-color);
    overflow-x: hidden;
    line-height: 1.6;
    background-color: var(--background-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

a.nav-link{
    color: var(--text-color) !important;
}

.hero {
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-color);
}