:root{
    --primary-color: #251945;
    --secondary-color: #6E50A6;
    --accent-color: #E7C8A3;
    --background-color: #6F5B90;
    --text-color: #D5B1FB;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: var(--text-color);
    overflow-x: hidden;
    line-height: 1.6;
    background-color: var(--background-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

a.nav-link{
    color: var(--text-color) !important;
}

.nav-bar{
  position: fixed;
  bottom: 0 !important;
  width: 100%;
}


.nav-bar {
  position: sticky;
  bottom: 0;
  top: 0; 
  background: white;
  z-index: 1000;
}

section#home.hero-section{
  margin-top: 10rem;
  background-color: var(--primary-color);
} 

.hero {
    position: relative;
    width: 100%;
    height: 100vh;  
    overflow: hidden;
    margin-top: 1rem;
}

.hero img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
 
.hero .bg {
    z-index: 1;
}

.hero .circle {
    z-index: 2;
}
 
.hero .overlay {
    z-index: 3;
    top: 10rem; 
    object-fit: contain;
}
 
.hero .keqing {
    z-index: 4;
}

.hero::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 5;
    pointer-events: none;

    background: linear-gradient(
        to top,
        #251945 0%,
        rgba(37, 25, 69, 0) 60%
    );
}